body {
    background-color: rgb(153, 167, 153)
}
.header {
    display: flex;
    justify-content: center;
    background-color:rgb(26, 55, 77);
    width: 100%;
    align-items: center;
    color: white;
} 
h2 {
    color: white;
}
#search-Btn {
    border-radius: 5px;
    color: white;
    width: 100%;
}
input {
    width: 100%;
}

.FiveDay {
    justify-content: space-around;
    

}
.col {
    
    padding-left: 5px;
    margin-left: 5px;
    
}
.current-forecast {
    padding-left: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    display: block;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-style:solid;
    border-color:rgb(26, 55, 77);
    font-weight: bold;
}

.day {
    display: flexbox;
    background-color:rgb(20, 47, 67);
    color: white;
    font-size: 20;
    font-weight:bold;
    border-radius: 5px;
    
    padding: 10px;
    margin-left: 10px;
}